* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* background-color: #190A05; */
  background-color: #19100e;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  cursor: grab;
}

#deathOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.8); /* Red color with some transparency */
  z-index: 1000;
}

#deathTextBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  z-index: 1001;
}
